* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
}
.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 300;
}
.logo img {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}
.logo h2 {
  cursor: pointer;
}
.logo h2:hover {
  color: gray;
  transition: all 0.2s linear;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: medium;
  margin: 0 10px;
  font-weight: 600;
  text-transform: uppercase;
}
nav a:hover {
  color: gray;
  transition: all 0.1s linear;
  
}
.icon {
  margin: 0 5px;
  cursor: pointer;
}
.mobile-nav {
  display: none;
}
.mobile-nav-close{
  display: none;
}
.about{
  color: white;
  font-family: 'Cardo', serif;
  width: 50%;
  text-align: center;
  font-size: x-large;
  margin: 3% auto;

}

.word{background-color: #27A776;}

.about p{
  font-weight: 500;
}


.about-button{
  width: 18rem;
  height: 2.5rem;
  margin-top: 25px;
  background-color: #27A776;
  color: white;
  font-weight: 600;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}


/* reponsive layout */

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
  }

  .navbar {
    position: absolute;
    display: grid;
    top: 7%;
    margin-left: 500px;
    display:none;
  }

  .activate {
    margin-left: -8px;
    transition: all 0.5s linear;
    background-color: #252424;
    /* padding: 12% 131px; */
    z-index: 100;
    width: 100%;
    height: 43%;
    display:block; 
  }

  .mobile-nav-close{
    display: block;
    
  }

  .navbar a {
    margin: 10px 24px;
    display: block;
  }
  .navbar a:hover{
    color:#27A776
  }


  /* .navbar a ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: red;
  } */

  .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 28px;
  }
  .mobile-nav {
    display: block;
    margin: 0 22px;
    cursor: pointer;
  }

  .about{
    color: white;
    font-family: 'Cardo', serif;
    width: 90%;
    text-align: center;
    font-size: medium;
    margin: 15% auto;
  
  }
  .about p {
    width: 96%;
    font-size: small;
    text-align: center;
    margin: 25px 0px;
  }

  .about-button{
    width: 16rem;
    height: 2.5rem;
    margin-top: 5px;
    background-color: #27A776;
    color: white;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
  }
}
